.main_container{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    margin-top: 150px;
    
}
img{
    width: 600px;
    height: 600px;
}
.container{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    position: relative;
}
.hand{
    width: 180px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
    transform-origin: 100%;
    z-index: 1000;
    
}
.center{
    position: absolute;
    right:50.01%;
    bottom: 49.9%;
    margin-top: 150px;

}



.triangle{
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid black;
    transform: rotate(-90deg);
    margin-bottom: 50px;
    position: absolute;
    left: -9%;
    bottom: -56px;
}

.amPm{
    position: absolute;
    top: 26%;
    left: 46.5%;
    font-size: 80px;
    background-color: white;
    border: 1px dashed black;
}
.toggle_button{
    border-radius: 50%;
    background-color: black;
    border-left: 1px solid white;
    height: 40px;
    width: 40px;
    transition: all 1;
    transition-timing-function: ease-in-out;
}
.dark_mode_toggle{
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    width: 125px;
    height: 40px;
    position: absolute;
    margin-left: 75%;
}
.dark{
    display: none;
}
.darkBody{
    background-color: black;
}
.darkHand{
    background-color: white;
}
.darkTriangle{
    border-bottom: 15px solid white;
}
.darkAmPm{
    color: white;
    background-color: black;
    border: 1px dashed white;
}
.darkToggleButton{
    border-right: 1px solid white;
    background-color: white;
    margin-left: 84px;
    border-right: 2px solid red;
}
.darkToggle{
    border: 1px solid white;
    border-left: 2px solid white;
    background-color: red;
}
.alarm_container{
    position: absolute;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    width: 200px;
    height: 65px;
    right: 10%;
    top: 50%;
    font-size: 20px;
    font-weight:600;
    background-color: white;
}
.alarm_inputs{
   width: 30px; 
   height: 30px;
   text-align: center;
   padding-left: 10px;
   border-radius: 15px;
}
.submit{
    width:30px;
    height: 30px;
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding-right: 27px;
}
.darkInputs{
    border: 2px solid red;
}
.darkSubmit{
    background-color: red;
    border: 1px solid red;
}
.darkContainer{
    border: 2px solid red;
}
.alarm_time{
border: 2px solid black;
width: 200px;
height: 30px;
margin-top: 15px;
border-radius: 15px;
background: white;
display: none;
}
.stop_alarm{
    display: none;
}
.alarm_text{
    display: inline-block;
}
.snooze{
    display: none;
}
.darkContainerText{
    border: 2px solid red;
    color: red;
}
.darkSnoozBtn{
    background-color: red;
    border: 2px solid red;
}